<header class="header">
    <div class="container">
        <a href="http://www.vicompany.nl" title="Visit VI Company website">
            <img src="/dist/img/logo.svg" alt="Vi Company logo" class="header__logo" />
        </a>
    </div>
</header>