<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
           
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Dot.Ned demo vi-company</a>
        </div>

    </div>
</nav>