.reveal {
	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.logo {
		max-width: 50%;
		border: none;
		box-shadow: none;
	}

	.progress span {
		background-color: $brandColor;
	}

	.controls {
		transform: scale(0.5);

		button[disabled] {
			display: none;
		}
	}

	.text-white {
		color: #fff;
	}
}
