.container {
	max-width: $site-max-width;

	margin-right: auto;
	margin-left: auto;

	padding-right: $gutter;
	padding-left: $gutter;
}


.section {
	padding-bottom: $distance-m;
	margin-bottom: $distance-m;

	border-bottom: 1px solid $color-black;
}