/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Questrial');

// custom vars
$brandColor: #e00;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #1e283c;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 35px;
$mainFont: 'Questrial', Helvetica, sans-serif;
$headingFont: 'Questrial', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $mainColor;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Custom theme and theme override

.reveal {
	section img {
		background-color: transparent;
	}

	h1,
	h2,
	h3,
	h4 {
		text-transform: none;
		font-weight: normal;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;

			img {
				box-shadow: none;
				background: none;

				transform: scale(1.1);
			}
		}
	}

	.progress span {
		background-color: $brandColor;
	}

	.controls {
		bottom: -15px;

		transform: scale(0.5);

		button[disabled] {
			display: none;
		}
	}

	.text-white {
		color: #fff;
		text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
	}

	.inline-image {
		border: none;
		box-shadow: none;

		display: inline-block;
		vertical-align: middle;
	}

	.image-x-small {
		max-width: 4rem;
	}

	.image-small {
		max-width: 12rem;
	}

	.image-medium {
		max-width: 20rem;
	}
}

.logo {
	position: fixed;
	z-index: 999;

	bottom: 0px;
	left: 20px;

	width: 130px;
	height: 70px;

	background-image: url(../../lib/img/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
