/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// custom vars
$brandColor: #e00;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 35px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Questrial', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $brandColor;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Custom theme and theme override

.reveal {
	h1,
	h2,
	h3,
	h4 {
		text-transform: none;
		font-weight: normal;
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.logo {
		max-width: 50%;
		border: none;
		box-shadow: none;
	}

	.progress span {
		background-color: $brandColor;
	}

	.controls {
		bottom: -15px;

		transform: scale(0.5);

		button[disabled] {
			display: none;
		}
	}

	.text-white {
		color: #fff;
	}
	
	.inline-image {
		border: none;
		box-shadow: none;
	}
}

.logo {
	position: fixed;
	z-index: 999;

	bottom: 10px;
	left: 10px;

	width: 160px;
	height: 20px;

	background-image: url(../../lib/img/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
