@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Demo</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/dist/css/main.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/css/main.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @Html.Partial("Partials/_Header")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Dot.Ned demo vi-company</p>
        </footer>
    </div>

    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
    <script src="~/dist/js/main.js" asp-append-version="true"></script>
</body>
</html>
