.button {
	padding: $distance-s;

	border: $border-width-m solid $color-black;
	border-radius: $border-radius-s;

	color: $color-black;
	background-color: $color-white;

	cursor: pointer;

	transition: background-color $anim-speed-fast $anim-ease-in,
				color $anim-speed-fast $anim-ease-in;

	&:hover {
		background-color: $color-black;
		color: $color-white;
	}
}
