.box-container {
	border: 1px solid red;
}


.grid {
	display: flex;
	flex-wrap: wrap;

	margin-right: -$gutter-half;
	margin-left: -$gutter-half;
}

.cell {
	flex: 1 0 auto;

	margin-bottom: $gutter;

	padding-right: $gutter-half;
	padding-left: $gutter-half;


	&--1\/2 {
		flex-basis: 50%;
		flex-grow: 0;
	}

	&--1\/3 {
		flex-basis: (100% / 3);
		flex-grow: 0;
	}

	// &:not(.is-expanded) + & {
	// 	border-left: 1px solid $color-gray;
	// }

	&.is-expanded {
		flex-basis: 100%;

		margin-bottom: $distance-m;
	}
}
