.table {
	width: 100%;

	border-collapse: collapse;

	&:not(last-of-type) {
		margin-bottom: $distance-m;
	}

	&--zebra {
		tr:nth-child(even) {
			background: $color-gray-lighter;
		}
	}
}


.table__head,
.table__cell {
	padding: $distance-s / 2;
}

.table__head {
	text-align: left;
	background-color: $color-gray;

	.table--horizontal & {
		width: 30%;
		padding-left: $distance-s;

		background-color: transparent;
	}
}
