.ticker {
	position: relative;
	height: 100%;

	padding: $distance-s;

	border: $border-width-m solid $color-black;
}

.ticker__header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: -$distance-s;
	margin-bottom: $distance-s;
	padding: #{$distance-s / 2} $distance-m;

	border-bottom: $border-width-s solid $color-black;

	color: $color-black;
}

.ticker__title {
	margin-right: $distance-s;
	margin-bottom: 0;
}

.ticker__actions {
	flex-shrink: 0;
}

.ticker__mid {
	position: relative;
	font-size: $font-size-m;
	font-weight: $font-weight-bold;
	text-align: center;

	border-bottom: 1px solid $color-gray;
}

.ticker__mid-value {
	position: relative;
	display: inline-block;

	&:before {
		position: absolute;
		top: 50%;
		left: -$distance-m;

		display: inline-block;

		width: 0.5rem;
		height: 0.5rem;

		margin-top: -0.25rem;

		border-radius: 50%;
		background-color: transparent;

		content: '';

		transition: background-color 0.5s $anim-ease-in forwards;

	}

	&.is-positive-tick {
		&:before {
			background-color: $color-positive;
		}
	}

	&.is-negative-tick {
		&:before {
			background-color: $color-negative;
		}
	}
}

.ticker__quote {
	height: 100%;
	text-align: center;
}

.ticker__quote-title {
	margin-top: $distance-s;
}

.ticker__quote-value {
	font-weight: $font-weight-bold;
}
