.ticker-overview {
	display: flex;
	flex-wrap: wrap;

	box-sizing: border-box;
	margin-right: -($gutter / 2);
	margin-left: -($gutter / 2);
}

.ticker-overview__ticker {
	flex: 0 0 (100% / 4);

	margin-bottom: $gutter / 2;
	padding: 0 ($gutter / 2);

	&.is-expanded {
		flex-basis: 100%;
		height: 90vh;
	}
}
