@model Stock.Website.Models.FundModel
@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div>
        @ViewBag.Message
    </div>
}
<h1>Funds</h1>
<select>
    <option>Shell</option>
    <option>Vi-company</option>
</select>

<h2>Fund history</h2>

<table>
    <tbody>
    <tr>Heineken</tr>

    <tr>hoogste</tr>
        <
    </tbody>
</table>