@using Stock.Website.Models
@model Stock.Website.Models.FundModel
@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div>
        @ViewBag.Message
    </div>
}
<h1>Funds</h1>
<form method="post" action="">
    Ask: @Html.TextBoxFor(m => m.Ask)<br/>
    or<br/>
    Bid: @Html.TextBoxFor(m => m.Bid)<br/>
    <input type="submit" value="Send"/>
</form>